html{
  background-color: gold;
}

.main{
  display: flex;  
  align-content: center;  
  flex-direction: column; 
  
  align-items: center;
  background-color:royalblue;
  margin-top: 2em;
  margin-left: 20%;
  margin-right: 20%;
  border:darkblue 1em dashed;
  border-radius: 1em;
}



h2{
  color: gold;
}

h3 a
{

  color: gold;
}

p{
  background-color: grey;
}

.outline{
  text-shadow:
  -1px -1px 0 #000,
   0   -1px 0 #000,
   1px -1px 0 #000,
   1px  0   0 #000,
   1px  1px 0 #000,
   0    1px 0 #000,
  -1px  1px 0 #000,
  -1px  0   0 #000;
}

ul{  
  list-style:none;  
}


li a
{
  display: flex;
  justify-content: center;
  color: aliceblue;  
  text-decoration: none;
}

li:hover{
  background-color: green;  
}